@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h2>
    <em>
        "We strive to provide our customers with wide selection of furniture and household decorative items that are well designed,
        functional, practical, comfortable and have best value for money."
    </em>
</h2>

<p>
    <span style="color: #141823; font-family: helvetica, arial, sans-serif;
font-size: 14px; line-height: 18px;">
        We are proud of being the largest furniture showroom in Nepal.
        With four showrooms and two warehouses we have been supplyin
    </span>
    <span class="text_exposed_show" style="display: inline; color: #141823; font-family: helvetica, arial, sans-serif; font-size: 14px; line-height: 18px;">
        g furniture to our customers to better suit their lifestyle since 2001. We import high quality furniture from Thailand, China, Vietnam, Malaysia and many other countries. We keep the largest stock of furniture so that we can supply large quantities when needed.
        We strongly believe that we are our customers ,so, we train our staffs to be the best in providing our customers with long term commitment, prompt delivery, professional advice and give the best customer satisfaction possible.
    </span>
</p>


